.search{
  z-index: 1;
  margin: 50px 0;
  display: flex!important ;
  justify-content: center!important;
  align-items: center!important;
  flex-direction: column!important;

  h1{
    text-align: center;
    font-size: 50px;
  }

  input{
    text-align: center;
    font-size: 35px;
    height: 60px;
    border-radius: 30px;
    max-width: 800px;
  }

  &__alternative{
    margin: 195px 0 150px 0;
  }
}